.patientSearch 
  form(action="http://localhost:8000/patient/dni" name="POST")
    .register
      //- DNI
      .input 
        label(for="dni") Ingrese un Paciente 
        input(
          type="text" 
          id="dni" 
          name="dni" 
          autocomplete="off" 
          spellcheck="false" 
          value="" 
          placeholder="Ingrese DNI" 
        )
      //- Boton Enviar
      .input
        input(type="submit" id="register" calss="sendBtn" value="Buscar")  